body{
    height: 100vh;
    background: linear-gradient(blue,lightblue,purple); 
    display: flex;
    align-items: center;
    justify-content: center;
}


.central{
    width: 350px;
    height: 350px;
    background: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    

}

.central button{
    width:  80px;
    border: none;
    outline: none;
    background: purple;
    color: white;
    height: 25px;
    cursor: pointer;
}